@font-face { 
    font-family: "Raleway"; 
    src: url(/nado_sdelat_idealno-main/fonts/Raleway-ExtraBold.woff),
         url(/nado_sdelat_idealno-main/fonts/Raleway-ExtraBold.woff2); 
}

@font-face{
    font-family: "Rale";
    src: url(/nado_sdelat_idealno-main/fonts/Raleway-Regular.woff),
         url(/nado_sdelat_idealno-main/fonts/Raleway-Regular.woff2);
}

*, 
*::before, 
*::after{box-sizing: border-box;} 
 
html{height: 100%;} 
 
.page{ 
    display: flex; 
    object-fit: cover; 
    position: relative; 
    overflow-y: hidden;

    margin: 0;
    height: 100%; 
} 
 
 
.video { 
    position: absolute; 
    object-fit: cover; 
    object-position: center; 

    width: 100%; 
    height: 100%; 
} 
 
.title{     
    color: black;  
    z-index: 1;  
    text-align: center;  
    font-family: 'Raleway';
  
    font-size: 100px;  
    width: 739px;  
    height: 408px;  
    margin: 50px auto;
} 

.title::after{content: "*";}
 
.title:hover::before{ 
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.'; 
  white-space: pre; 
  font-family: 'Rale';
  position: absolute;

  

  font-size: 20px; 
  right: 20px; 
  padding: 30px;
  margin: 120px 200px 562px 834px;
  letter-spacing: 0.1em;
  
  color: black;
  background-color: white;
  box-shadow: 0 10px 0 #1e1e1e;
  border-radius: 20px 20px;
  text-align: left;

  
  border: 4px solid #1e1e1e;
 } 
 
 .title:hover + .video {  
    background-color: rgba(206, 195, 195, 0.63); 
    opacity: 0.8; 
} 
 
.title:hover{color: #817d7d; }